<div class="row">
    <div class="col-sm-6">
        <div class="card m-3" style="width: 18rem;">
            <img src="https://www.pngitem.com/pimgs/m/22-220721_circled-user-male-type-user-colorful-icon-png.png"
                class="card-img-top rounded-1" alt="profile">
            <div class="card-body">
                <h5 class="card-title">Customer Profile</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a class="btn btn-primary" routerLink="profileDetail">Profile Detail</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <router-outlet></router-outlet>
    </div>
</div>