<table class="table">
    <tbody>
        <h3>Person Details</h3>
        <tr>
            <th scope="row">Name</th>
            <td>Maurya Arvind</td>
        </tr>
        <tr>
            <th scope="row">DOB</th>
            <td>24/07/2001</td>
        </tr>
        <tr>
            <th scope="row">Gander</th>
            <td colspan="2">Male</td>
        </tr>
        <tr>
            <th scope="row">Email-Id</th>
            <td colspan="2">arvind.tagline@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">Mobile No</th>
            <td colspan="2">832046****</td>
        </tr>
        <tr>
            <th scope="row">Customer Type</th>
            <td colspan="2">Regular</td>
        </tr>
    </tbody>
</table>